header {
  height: 60px;
  background-color: #24c5bd;
  display: flex;
  align-items: center;
  padding: 0 25px;
  justify-content: flex-end;
}

.rightLinks {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
}



.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: teal;
}

.activeLink {
  color: white;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
}