.layout {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

}

.buttons {
  display: flex;
  margin: 8px;
}

.mainBoard {
  display: flex;
  justify-content: space-between;
}

.dashboard {
  height: 754px;
  width: 100%;
  margin: 8px 8px 8px 0;
  position: relative;
}

.leftCards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content:center;
}

.goBack {
  margin: 8px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}