:root {
  --left: 30%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0,0,0,0.75);
}

.modal {
  position: fixed;
  height: 500px;
  width: 500px;
  top: 20vh;
  left: var(--left);
  width: calc(100% - (2 * var(--left)));
  background-color: #D8FEFC;
  padding: 8px;
  border: 8px solid white;
  border-radius: 45px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-up 300ms ease-out forwards;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}